/*--
page
--*/
body {
  background-color: gray;
}

.wrapper {
  position: relative;
  width: 1024px;
  height: 768px;
  margin: auto;
  padding: 0;
  background-color: black;
  overflow: hidden;
}

/*-----
general
-----*/
.wrapper * {
  border: 1px solid white;
  box-sizing: border-box;
  position: absolute;
}

.player,
.absorb {
  background-color: green;
}

.knockback {
  background-color: yellow;
}

.danger {
  background-color: red;
}

.template {
  display: none;
}

/*------
specific
------*/
.weapon .handle {
  background-color: blue;
}

.weapon .beam {
  transition: background-color 0.5s;
}

.beamAttackHitbox {
  border: 2px inset red;
  border-radius: 50%;
  opacity: 0;
}

.beamAttackHitbox.ccw {
  border-style: outset;
}

.enemy {
  background-color: red;
}

.stars {
  border: none;
}

/*--------
animations
--------*/
@keyframes spinCW {
  100% {
    transform: rotate( 360deg );
  }
}

@keyframes spinCCW {
  100% {
    transform: rotate( -360deg );
  }
}

@keyframes shield {
  15% {
    opacity: 0
  }

  25% {
    opacity: 1
  }

  50% {
    opacity: 1
  }

  100% {
    opacity: 0;
  }
}