/*--
page
--*/
body {
  background-color: gray;
}

.wrapper {
  position: relative;
  width: 1024px;
  height: 768px;
  margin: auto;
  padding: 0;
  background-color: black;
  overflow: hidden;
}

/*-----
general
-----*/
.wrapper * {
  border: 1px solid white;
  box-sizing: border-box;
  position: absolute;
}

.player,
.absorb {
  background-color: green;
}

.knockback {
  background-color: yellow;
}

.danger {
  background-color: red;
}

.template {
  display: none;
}

/*------
specific
------*/
@keyframes spinCW {
  100% {
    transform: rotate( 360deg );
  }
}

@keyframes spinCCW {
  100% {
    transform: rotate( -360deg );
  }
}

.weapon {
  width: 15px;
  height: 100px;
  left: 100%;
  top: -150%;
}

.weapon .handle,
.weapon .beam {
  width: 100%;
}

.weapon .handle {
  background-color: blue;

  height: 30%;
  bottom: 0;
  left: 0;
}

.weapon .beam {
  transition: background-color 0.5s;

  height: 70%;
  top: 0;
  left: 0;
}

.enemy {
  background-color: red;
}